# Ejemplo (NO subas claves reales al repo)
ADMIN_KEY= CHANGE_ME

# Workaround si tu sitio tiene un bug/problema de provisión con Netlify Blobs:
# - BLOBS_SITE_ID: Project ID (Site ID) del sitio en Netlify
# - BLOBS_TOKEN: Personal Access Token de Netlify (solo lo guardas en Netlify como Secret)
BLOBS_SITE_ID= 0c5875c8-4539-45f8-9b1b-c984ffa5f4de
BLOBS_TOKEN= nfp_TzeonfRPom4gZkopPtswesY9xzs4ZTdkc3a8
